# Day 2: Intro to Pandas

## Pandas
* high-level library to support data manipulation and analysis
* DataFrame is the primary object we’ll be dealing with
* similar to R’s dataframe
* maps onto tabular structure
* good for time series and econometric data

## Shift from "pythonic" to "pandorable"

* less looping over elements
* lots of built-in functionality
* a "paradigm shift"

# Data structures

We're all familiar with lists:

In [10]:
names = ["Charlotte", "Ingrid", "Ian", "Eric"]
scores = [80, 95, 85, 70]

Now let's say that we wanted to divide each of those scores by two and assign the results to another variable. Go ahead and write some code that does that... There are lots of ways to do this, so go ahead and write one way to do it (without importing any additional python packages) and assign the results to a 
variable called ```half```:

In [13]:
# insert your code here

If you followed the above instructions, the following cell block should print
a list of floats that looks like ```
[40.0, 47.5, 42.5, 35.0]```

In [14]:
half

[40.0, 47.5, 42.5, 35.0]

We can put data into an array structure that allows us to apply more powerful
functions.  The data structure that we're interested in is called an ```ndarray``` and is from the ```numpy``` package:

In [16]:
import numpy as np
ascores = np.array(scores)

In [17]:
ascores

array([80, 95, 85, 70])

In [18]:
ahalf = ascores / 2

Numpy arrays are powerful, but they have some limitations:  they can only 
consist of one type of data (e.g. int), etc.  pandas provides two additional
data structures that are built on numpy ndarrays.

The first are Series.  Let's create a simple pandas Series and examine it:

In [25]:
import pandas as pd

In [26]:
from pandas import Series

In [28]:
sscores = Series(scores,name='scores')

In [29]:
sscores

0    80
1    95
2    85
3    70
Name: scores, dtype: int64

So you see a couple of useful things: an index (0 to 3) and a data type (dtype), which in this case is an int64.

**A Series is a one-dimensional ndarray with axis labels**

In [30]:
data = dict(zip(names,scores))

In [31]:
data

{'Charlotte': 80, 'Eric': 70, 'Ian': 85, 'Ingrid': 95}

In [42]:
sData = Series(data=data,name='score')

In [43]:
sData

Charlotte    80
Eric         70
Ian          85
Ingrid       95
Name: score, dtype: int64

So Series are a bit friendlier than numpy arrays, but they're still only one-dimensional.  Keep in mind that our basic data abstraction is a table, which can
be thought of as a two-dimensional array.  Let's go ahead and create a simple DataFrame with just one column:

In [52]:
from pandas import DataFrame

In [53]:
sData.to_frame()

           score
Charlotte     80
Eric          70
Ian           85
Ingrid        95

Let's return to the code that you "just ran" last time:

In [71]:
years = range(1880, 2015)
pieces = []
for year in years:
    path = 'names/yob%d.csv'%year
    frame = pd.read_csv(path)
    frame['year'] = year
    pieces.append(frame)
df_names = pd.concat(pieces, ignore_index=True)
df_names

                name gender  birth_count  year
0             Simeon      M           23  1880
1              Raoul      M            7  1880
2                Lou      M           14  1880
3               Myra      F           83  1880
4              Alois      M           10  1880
5              Hosea      M           10  1880
6             Arthur      M         1599  1880
7               Vena      F           11  1880
8             Electa      F            6  1880
9             Tessie      F           17  1880
10           William      F           30  1880
11              Inez      F          106  1880
12              Alla      F            6  1880
13         Sylvester      M           89  1880
14             Norma      F           32  1880
15             Elise      F           24  1880
16            Caesar      M            6  1880
17            Julian      M           32  1880
18              Arch      M           61  1880
19            Joseph      F           10  1880
20             Madie      F            6  1880
21           Rosalee      F            5  1880
22             Harry      M         2152  1880
23            Morris      M           77  1880
24             Worth      M            8  1880
25            Malcom      M            5  1880
26            Ludwig      M            9  1880
27              Mena      F            6  1880
28             Emmet      M           34  1880
29           Alverta      F            6  1880
...              ...    ...          ...   ...
1825403       Eathen      M            8  2014
1825404        Zayna      F           66  2014
1825405       Jamiya      F          118  2014
1825406      Charvez      M            5  2014
1825407      Zamyiah      F            9  2014
1825408        Aydia      F            7  2014
1825409  Luisantonio      M            8  2014
1825410       Anuhea      F           30  2014
1825411        Ehsan      M           18  2014
1825412         Jama      M            7  2014
1825413      Landree      F           60  2014
1825414        Erynn      F           43  2014
1825415       Shikha      F            8  2014
1825416         Asma      F           78  2014
1825417      Montana      F          124  2014
1825418        Ayyub      M           19  2014
1825419     Kelliann      F            5  2014
1825420         Tell      M            5  2014
1825421      Donaven      M           19  2014
1825422        Yates      M            9  2014
1825423       Kinley      F         1610  2014
1825424        Darbi      F            7  2014
1825425       Keylan      M           36  2014
1825426    Issabelle      F           15  2014
1825427      Louella      F           37  2014
1825428       Suheyb      M            9  2014
1825429        Asani      M            5  2014
1825430     Leonitus      M            8  2014
1825431    Josselynn      F            5  2014
1825432       Vaiden      M            6  2014

[1825433 rows x 4 columns]

                name gender  birth_count  year
0             Simeon      M           23  1880
1              Raoul      M            7  1880
2                Lou      M           14  1880
3               Myra      F           83  1880
4              Alois      M           10  1880
5              Hosea      M           10  1880
6             Arthur      M         1599  1880
7               Vena      F           11  1880
8             Electa      F            6  1880
9             Tessie      F           17  1880
10           William      F           30  1880
11              Inez      F          106  1880
12              Alla      F            6  1880
13         Sylvester      M           89  1880
14             Norma      F           32  1880
15             Elise      F           24  1880
16            Caesar      M            6  1880
17            Julian      M           32  1880
18              Arch      M           61  1880
19            Joseph      F           10  1880
20             Madie      F            6  1880
21           Rosalee      F            5  1880
22             Harry      M         2152  1880
23            Morris      M           77  1880
24             Worth      M            8  1880
25            Malcom      M            5  1880
26            Ludwig      M            9  1880
27              Mena      F            6  1880
28             Emmet      M           34  1880
29           Alverta      F            6  1880
...              ...    ...          ...   ...
1825403       Eathen      M            8  2014
1825404        Zayna      F           66  2014
1825405       Jamiya      F          118  2014
1825406      Charvez      M            5  2014
1825407      Zamyiah      F            9  2014
1825408        Aydia      F            7  2014
1825409  Luisantonio      M            8  2014
1825410       Anuhea      F           30  2014
1825411        Ehsan      M           18  2014
1825412         Jama      M            7  2014
1825413      Landree      F           60  2014
1825414        Erynn      F           43  2014
1825415       Shikha      F            8  2014
1825416         Asma      F           78  2014
1825417      Montana      F          124  2014
1825418        Ayyub      M           19  2014
1825419     Kelliann      F            5  2014
1825420         Tell      M            5  2014
1825421      Donaven      M           19  2014
1825422        Yates      M            9  2014
1825423       Kinley      F         1610  2014
1825424        Darbi      F            7  2014
1825425       Keylan      M           36  2014
1825426    Issabelle      F           15  2014
1825427      Louella      F           37  2014
1825428       Suheyb      M            9  2014
1825429        Asani      M            5  2014
1825430     Leonitus      M            8  2014
1825431    Josselynn      F            5  2014
1825432       Vaiden      M            6  2014

[1825433 rows x 4 columns]