# SI370 Day 5: Panda's groupby
## You can find this notebook and the associated data as day5.zip on our Canvas site.
## Direct link to download is available on our __[Slack channel](https://si370fa2018.slack.com/messages/CANCB6J4C)__.

In [ ]:
import pandas as pd

In [ ]:
olympics = pd.read_csv('data/athlete_events.csv')

## Q1: What country has sent the most athletes to the Olympics?

In [ ]:
total_representatives = olympics[['Team']].groupby(by = ['Team']).size().to_frame(name = 'size')
total_representatives.head()

*.groupby()*'s parameter *by* takes a list, so you can groupby more than one characteristic. The order of the items in the list matters; different orders produce different tables.

.size() returns a series, you can include .to_frame() to get a DataFrame

.size() returns a column without a name, you can name it with .to_frame()

In [ ]:
total_representatives.columns = ['Count']
total_representatives.head()

.columns is another way to name the column and is useful when you want to rename more than 1 column

In [ ]:
total_representatives.sort_values(by = 'Count', ascending = False).head()

*.sort_values()*'s parameter *by* is mandatory for DataFrames, so you want to name your column before you sort it.

## Q2: What country has the smallest difference in number of female and male representatives?
*exercise for students to do in-class if there's time*

In [ ]:
olympics.head()

In [ ]:
females_count = olympics[olympics['Sex'] =='F'][['Team']].groupby(by = ['Team']).size().to_frame()
males_count = olympics[olympics['Sex'] =='M'][['Team']].groupby(by = ['Team']).size().to_frame()
females_count.head()

In [ ]:
females_count.columns = ['number of females']
males_count.columns = ['number of males']
males_count.head()

In [ ]:
df1 = females_count.join(males_count).dropna()

In [ ]:
df1['difference'] = df1['number of females'] - df1['number of males']

In [ ]:
df1.sort_values(by = 'difference', ascending = False)

## Using Unstack to Answer Q2

In [ ]:
df3 = olympics[['Team','Sex']].groupby(['Team','Sex']).size().to_frame()
df3.columns = ['Counts']
df3 = df3.unstack('Sex')
df3 = df3['Counts']
df3['diff'] = df3['F'] - df3['M']
df3.sort_values(by = 'diff', ascending = False).dropna().head()

## for more information on groupby, check out the __[pandas groupby documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html)__

## for more information on gender inequality in the olympics, check out __[this article and its vizualizations in *The Guardian*](https://www.theguardian.com/sport/ng-interactive/2018/feb/08/winter-olympics-womens-long-race-to-parity)__